
    
    
    <div class="row" >
        
        <h1>Experiencia Laboral</h1>
        <div class="col-lg-1"></div>
            <div class="col-xs-11 col-sm-2 col-md-2 col-lg-2">
                
                <img src="../../../assets/aluralatam.png" id="logo" class="img-fluid" alt="logo">
            </div>
    
            <div class="col-xs-11 col-sm-9 col-md-9 col-lg-9">
                <ul>
                    <li>
                        <h1>Programa One-Oracle Next Education</h1>
                        <h3>(2022)</h3>                
                    </li>
                    <p>Soft Skills, Formación en Principiante de Programación,Front End(Javascript, HTML, CSS), Java orientado a Objetos, Carga Horaria 335 Hs </p>
                </ul>
    
            </div>
    

       
            <div class="col-lg-1"></div>
            <div class="col-xs-11 col-sm-2 col-md-2 col-lg-2">
                <img src="../../../assets/argentinaprograma.jpg" id="logo" class="img-fluid" alt="logo">
            </div>
            
           <div class="col-xs-11 col-sm-9 col-md-9 col-lg-9">
                <ul>
                    <li>
                        <h1>Argentina Programa- #se programar</h1>
                        <h3>(2021)</h3>                
                    </li>
                    <p>Fundamentos Basicos de la programación. Programacion Imperativa(Javascript). Programacion con Objetos(Ruby)</p>
                </ul>
    
           </div>
           <div class="col-lg-1"></div>
           <div class="col-xs-11 col-sm-2 col-md-2 col-lg-2">
                <img src="../../../assets/uea.jpg" id="logo" class="img-fluid" alt="logo">
            </div>
        
            <div class="col-xs-11 col-sm-9 col-md-9 col-lg-9">
                    <ul>
                        <li>
                            <h1>Universidad Europea del Atlántico</h1>
                            <h3>(2020)</h3>                
                        </li>
                        <p>Master en Recursos Humanos y Gestión del Conocimiento</p>
                    </ul>

            </div>
            <div class="col-lg-1"></div>
            <div class="col-xs-11 col-sm-2 col-md-2 col-lg-2">
                <img src="../../../assets/univ21.jpg" id="logo" class="img-fluid" alt="logo">
            </div>
        
            <div class="col-xs-11 col-sm-9 col-md-9 col-lg-9">
                    <ul>
                        <li>
                            <h1>Universidad Empresarial Siglo 21</h1>
                            <h3>(2013)</h3>                
                        </li>
                        <p>Diplomado en Práctica Profesional Impositiva, Laboral y Contable</p>
                    </ul>

            </div>
            <div class="col-lg-1"></div>
            <div class="col-xs-11 col-sm-2 col-md-2 col-lg-2">
                <img src="../../../assets/unc.png" id="logo" class="img-fluid" alt="logo">
            </div>
        
            <div class="col-xs-11 col-sm-9 col-md-9 col-lg-9">
                    <ul>
                        <li>
                            <h1>Universidad Nacional De Córdoba</h1>
                            <h3>(2012)</h3>                
                        </li>
                        <p>Contadora Publica </p>
                    </ul>

            </div>

      
        
        
        
        
        
        
        
    </div>


