
   
    
    <div class="row" >    
        <h1>Experiencia Laboral</h1>  
        <div class="col-lg-1"></div>  
            <div class="col-xs-11 col-sm-2 col-md-2 col-lg-2">
                
                <img src="../../../assets/bm.jpg" id="logo" class="img-fluid" alt="logo">
            </div>            
            <div class="col-xs-11 col-sm-9 col-md-9 col-lg-9">
                <ul>
                    <li>
                        <h1>Universidad Nacional de Córdoba</h1>
                        <h3>(2008 a la actualidad)</h3>                
                    </li>
                    <p>Supervisora Administrativa- Departamentos RRHH Y Contable- Biblioteca Mayor </p>
                </ul>
    
            </div> 
            <div class="col-lg-1"></div>   
            <div class="col-xs-11 col-sm-2 col-md-2 col-lg-2">
                <img src="../../../assets/coined.jpg" id="logo" class="img-fluid" alt="logo">
            </div>
            
           <div class="col-xs-11 col-sm-9 col-md-9 col-lg-9">
                <ul>
                    <li>
                        <h1>Fundación Intercambio Educativo</h1>
                        <h3>(2007-2008)</h3>                
                    </li>
                    <p>Gestion de cobranzas-Clientes</p>
                </ul>
    
           </div>

      
        
        
        
        
        
        
        
    </div>

