<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/foto-perfil.jpg" id="fotodeperfil" class="img-fluid" alt="foto">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p  id="nombre">Arroyo Flavia Elizabeth</p>
        <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>
                Acerca de mi
            </h1>
            <p>
                Soy de nacionalidad Argentina, vivo en Córdoba Capital, tengo 40 años, soy Contadora Pública y Magister en Recursos Humanos. En la actualidad estoy formádome en programacion, y ha sido un gran camino de aprendizaje que ha despertado mi total interes y entusiasmo, ya que me 
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, tempora ratione at consequuntur neque aliquam accusamus mollitia alias dolorem quibusdam sapiente sint ad nam est facere voluptatem eligendi assumenda corporis?
                    

            </p>

        </span>
    </div>


</div>
